h1{
    color: #e5e2eb;
    text-align: center;
    font-size: 3rem;
    text-align: center;  
    /* background-color: azure; */
    border-radius: 12px;
    margin: 50px 100px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;


}

.box {
    margin-bottom: 2.3rem;
    background-color: whitesmoke;
}
